{% extends "base.html" %}{% block title %}Home{% endblock %}
{% block content %} 


<style>

  body {
    overflow: auto; /* Enable scrollbar */
  }
  .property-card {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }

  .property-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .property-card img {
    height: 220px;
    object-fit: cover;
  }

  .property-card .card-body {
    padding: 20px;
  }

  .property-card h5.card-title {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .property-card p.card-text {
    margin-bottom: 5px;
    font-size: 16px;
  }

  .property-card .price {
    display: flex;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .property-card .price span {
    margin-right: 5px;
  }
</style>


<h1>Properties</h1>

<div class="container">
  <div class="row">
    {% for image in images %}
    <div class="col-md-4">
      <div class="card property-card">
        <img src="{{ image.get_image_url() }}" class="card-img-top" alt="{{ image.property.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ image.property.title }}</h5>
          <p class="card-text">{{ image.property.description }}</p>
          <p class="card-text">Name: {{ image.property.user.firstname }}</p>
          <p class="card-text">Price:₦ {{ image.property.price|format_price }}</p>
          <p class="card-text">Location: {{ image.property.location }}</p>
          <p class="card-text">Contact: {{ image.property.user.phone_number }}</p>
          {% if current_user.id == image.property.user_id %}
            <form action="{{ url_for('views.delete_property', property_id=image.property.id) }}" method="POST">
              <input type="submit" value="Delete" class="btn btn-danger">
            </form>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
</div>

{% endblock %}
