{% extends "base.html" %} {% block title %}Users{% endblock %} {% block content
%}
<h1>User Data</h1>
<table>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Created At</th>
  </tr>
  {% for user in users %}
  <tr>
    <td>{{ user.id }}</td>
    <td>{{ user.firstname }}</td>
    <td>{{ user.lastname }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.phone_number if user.phone_number else '' }}</td>
    <td>{{ user.created_at }}</td>
  </tr>
  {% endfor %}
</table>

<script>
  document.getElementById("phone").addEventListener("input", function (e) {
    this.value = this.value.replace(/[^0-9]/g, "");
  });
</script>
{% endblock %}
