.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.buttons {
  margin-top: 20px;
}

.signup-btn,
.login-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.signup-btn:hover,
.login-btn:hover {
  background-color: #0056b3;
}

.fancy-text {
  font-family: "Your Fancy Font", cursive;
  font-size: 48px;
  color: #ff00ff; /* Change to the desired text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
  /* Add more CSS properties to further customize the fancy text style */
}
